version: "3"
services:
        rabbitmq-broker:
                build: ./rabbitmq-setup
                ports:
                        - 5672:5672
                        - 15672:15672
                environment:
                        RABBITMQ_ERLANG_COOKIE: 6085e2412b6fa88647466c6a81c0cea0
                        RABBITMQ_DEFAULT_USER: user
                        RABBITMQ_DEFAULT_PASS: user
                healthcheck:
                        test: [ "CMD", "nc", "-z", "localhost", "5672" ]
                        interval: 5s
                        timeout: 15s
                        retries: 3

        sensors-service:
                build: ./sensors-service
                depends_on:
                        - "rabbitmq-broker"
                        - "dummy-firmware"
                volumes:
                        - ./sensors-service/src:/root/

        dotnet-service:
                build: ./dotnet-service
                depends_on:
                        - "rabbitmq-broker"

        dummy-firmware:
                build: ./dummy-firmware
                volumes:
                        - ./dummy-firmware/src:/root/
                depends_on:
                        - "rabbitmq-broker"

        